<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RentService</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/src/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RentService.styles.css" asp-append-version="true"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Optional: Additional styling libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="bg-gray-900 text-white">
<header>
   
</header>

<main role="main" class="mx-auto px-4 py-8">
    @RenderBody()
</main>

<footer class="bg-gray-800 text-white py-4 mt-8">
    <div class="container mx-auto text-center">
        <p>&copy; @DateTime.Now.Year - RentService</p>
    </div>
</footer>

<!-- Scripts -->
<script src="~/src/js/main.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>